@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Righteous);

*{
  box-sizing: border-box;
}

body {
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.banner {
  background-image: url("../img/venue-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px;
  height: 85vh;
  text-align: center;
}

.banner h3 {
  font-size: 700%;
  margin: 0;
  color: white;
}
.banner figure img{
  height: 350px;
  width : 400px;
}

.two-side {
  position: relative;
  padding: 90px 0 0;
  background-color: #F0F0F0;
}

.left-side {
  padding: 20px;
}

.left-side figure img {
  width: 800px;
}

.right-side {
  position: absolute;
  background-color: white;
  padding: 40px 60px;
  top: -40px;
  right: 20px;
}

  .t h4 {
    font-size: 430%;
    margin: 0;
    font-family: Righteous;
  }

.white {
  background-color: white;
}

.filter-events {
  background-color: white;
  position: relative;
  margin-bottom: 290px;
}

.events form {
  max-width: 550px;
  margin: 50px auto 0;
  position: relative;
  outline: none;
}

.events form input {
  width: 100%;
  font-size: 120%;
  padding: 20px 70px 10px 10px;
  border-bottom: 2px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  transition: border 300ms ease-in;
}

.events form input:focus {
  border-bottom: 2px solid black;
}

.events form button {
  position: absolute;
  outline: none;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: grey;
  font-size: 250%;
}

.grid-event {
  padding: 60px 30px 150px;
}

.event {
  width: 200px;
  padding: 15px;
}

.event > a{
  text-decoration: none;
  color: black;
}

.event figure {
  margin: 0;
}

.event figure img {
  width: 100%;
}

.event-detail {
  padding: 10px;
  text-align: left;
}
  .event-detail .cat {
    font-size: 80%;
    display: block;
  }
  .event-detail a {
    text-decoration: none;
  }
  .event-detail h6 {
    margin: 0;
    font-size: 160%;
    color: black;
    font-family: Righteous;
  }
  .event-detail .address {
    font-weight: bold;
  }
  .event-detail .dtl {
    font-size: 100%;
    display: block;
  }

/*========================== FOOTER ======================*/

footer {
  background-color: black;
  color           : white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

footer .f-item {
  text-align: center;
  padding: 0 65px;
}

footer .f-item figure img {
  width: 200px;
  margin: 0;
}

footer .f-item h7 {
  font-size: 140%;
  margin: 0;
  line-height: 30px;
}

footer .f-item span a{
  text-decoration: none;
  color: white;
}

footer .f-item .cr p {
  font-size: 80%;
}
