@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

*{
  box-sizing: border-box;
}

body {
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.banner {
  background-image : url("../img/123.jpg");
  background-repeat: no-repeat;
  background-size  : cover;
  padding          : 45px;
  min-height       : 85vh;
  text-align       : center;
}

.banner h3 {
  font-size: 700%;
  margin   : 0;
  color    : white;
}
.banner figure img{
  width : 400px;
}

@media screen and (max-width: 480px){
  .banner h3 {
    font-size: 600%;
  }
  .banner figure img {
    width: 350px;
  }
}

.two-side {
  position        : relative;
  padding         : 90px 0 0;
  background-color: #F0F0F0;
}

.left-side {
  padding: 20px;
}

.left-side figure img {
  width: 800px;
}

.right-side {
  position        : absolute;
  background-color: white;
  padding         : 40px 60px;
  top             : -40px;
  right           : 20px;
}
  .t h4 {
    font-size: 430%;
    margin: 0;
  }

@media screen and (max-width: 480px){
  .right-side {
    padding: 20px 40px;
    left: 0;
    right: 0;
  }
  .right-side p{
    font-size: 90%;
  }
  .left-side figure img {
    width: 100%;
  }
}

.gall {
  position: relative;
  background-color: white;
}

.title-gall {
  position: absolute;
  top: 90px;
  left: 146px;
}
  .title-gall h3 {
    margin: 0;
    font-size: 350%;
  }

.gallery-slider {
  padding: 160px 150px 20px;
  background-color: white;
}
  .gallery-slider figure img {
    width: 100%;
  }
  .gallery-slider .grid-slider.slick-slide {
    clear: none;
  }
  .gallery-slider .slick-prev,
  .gallery-slider .slick-next{
  	position: absolute;
  	width: 120px;
  	height: 120px;
  	top: 0;
  	bottom: 0;
  	margin: auto;
  	border: none;
  	background-color: rgba(0,0,0,0.5);
    color: white;
  	font-size: 80px;
  }
  .gallery-slider .slick-prev{
  	right: 85%;
    z-index: 3;
  }
  .gallery-slider .slick-next{
  	left: 85%;
  }

@media screen and (max-width:480px){
  .gallery-slider {
    padding: 120px 0 50px;
  }
  .title-gall {
    top: 72px;
    left: 15px;
  }
  .title-gall h3 {
    font-size: 250%;
  }
  .gallery-slider .slick-prev,
  .gallery-slider .slick-next{
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
}

.white {
  background-color: white;
}

.filter-events {
  background-color: white;
  position: relative;
  margin-bottom: 290px;
}

.events form {
  max-width: 550px;
  margin: 50px auto 0;
  position: relative;
  outline: none;
}

.events form input {
  width: 100%;
  font-size: 120%;
  padding: 20px 70px 10px 10px;
  border-bottom: 2px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  transition: border 300ms ease-in;
}

.events form input:focus {
  border-bottom: 2px solid black;
}

.events form button {
  position: absolute;
  outline: none;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: grey;
  font-size: 250%;
}

.grid-event {
  padding: 60px 30px 150px;
}

@media screen and (max-width: 990px) {
  .grid-event {
    padding: 55px 0 145px;
  }
}

.event {
  width: 200px;
  padding: 15px;
}

.event > a{
  text-decoration: none;
  color: black;
}

.event figure {
  margin: 0;
}

.event figure img {
  width: 100%;
}

.event-detail {
  padding: 10px;
  text-align: left;
}
  .event-detail .cat {
    font-size: 60%;
    display: block;
  }
  .event-detail a {
    text-decoration: none;
  }
  .event-detail h6 {
    margin: 0;
    font-size: 160%;
    color: black;
  }
  .event-detail .date {
    font-weight: bold;
    display: block;
    margin: 8px 0;
  }
  .event-detail .venue {
    color: black;
    font-size: 80%;
    font-weight: bold;
    display: block;
    margin: 8px 0;
  }
    .event-detail p .venue a {
      color: black;
    }
  .event-detail .talent {
    color: black;
    font-size: 80%;
    font-weight: bold;
    display: block;
    margin: 8px 0;
  }
    .event-detail p .talent a {
      color: black;
    }
  .event-detail .dtl {
    font-size: 100%;
    display: block;
  }

/*========================== FOOTER ======================*/

footer {
  background-color: black;
  color           : white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

footer .f-item {
  text-align: center;
  padding: 0 65px;
}

footer .f-item figure img {
  width: 200px;
  margin: 0;
}

footer .f-item h7 {
  font-size: 140%;
  margin: 0;
  line-height: 30px;
}

footer .f-item span a{
  text-decoration: none;
  color: white;
}

footer .f-item .cr p {
  font-size: 80%;
}
